html{
    background: url(../img/gym-contacto_img.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    text-align: left;
    background-color: #fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

div {
    display: block;
}

header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
   
.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: rgba(255, 255, 255, 0);
}
   
.wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.gym-logo-header{
    position: relative;
    left: 2rem;
}

.wrap-nav-header{
    display: flex;
    align-items: center;
    background: rgb(20, 20, 20);
    padding-left: 1rem;
    padding-right: 1rem;
}
   
ul.main-menu{
    display: flex;
    width: 100%;
    padding: 0;
}
   
li.menu-item{
    margin: 1rem;
}
   
li.menu-item a{
    padding: .5rem 1rem;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
   
li.menu-item a:hover{
    color: #cc1313;
}
.form-register{
    position: absolute;
    width: 400px;
    background: #000000;
    padding: 30px;
    padding-bottom: 50px;
    left: 35%;
    top: 25%;
    margin: auto;
    border-radius: 6px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls{
    width: 95%;
    background: #3c2424;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ff0000;
    font-size: 16px;
    color: white;
}

.controls-mesage{
    width: 85%;
    background: #3c2424;
    padding: 30px;
    padding-left: 10px;
    padding-right: 50px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ff0000;
    font-size: 16px;
    color: white;
}
  
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
.form-register a{
    color: white;
    text-decoration: none;
}
  
.form-register a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
  
.botons-sumbit{
    position: relative;
    top: 1.25rem;
    width: 100%;
    background: #ff0000;
    border: none;
    padding: 12px;
    color: white;
    margin: 0px 0;
    font-size: 16px;
}

.select{
    font-size: 15px;
    position: relative;
    top: 9px;
}